annotations/
archive/
images/
labels/
runs/
car-plate-detection.zip
COSC 41001 - Final Project Proposal.docx
data.yaml
license-plate-dataset.zip
Model.ipynb
Ozair Rahman - COSC 41001 - Final Project.pptx
Project Proposal.md
Project Proposal.pdf
