annotations/
archive/
images/
labels/
car-plate-detection.zip
COSC 41001 - Final Project Proposal.docx
data.yaml
license-plate-dataset.zip
Ozair Rahman - COSC 41001 - Final Project.pptx
Project Proposal.md
Project Proposal.pdf
Ozair Rahman - COSC 41001 Final Project Documentation.docx
Ozair Rahman - INFT 41000 Final Project Documentation.docx
